{% extends 'app/base_app.html' %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
        <h3>Olá {{user.username}}</h3>
    {% else %}
        <p>Você precisa realizar o login</p>
    {% endif %}

    {% if user.is_superuser %}
                <td>
                    <a class="btn btn-default" href="{% url 'cadastrar_prestador' %}">
                        <button type="button" class="btn btn-secondary btn-lg">Cadastrar Prestador</button>
                    </a>
                </td>
                {% endif %}


        
        {% for prestador in prestadores %}
            
            <a href="{% url 'detalhar_prestador' id=prestador.id %}">
                {{ prestador.nome }}
            </a>
            <br/>
          

        
        {% endfor %} 
{% endblock %}

